node_modules
.DS_Store
dist
dist-ssr
apps/*/dist
apps/*/dist-ssr
apps/*/.output
apps/*/.wrangler
apps/*/.tanstack
*.local
.env
.nitro
.tanstack
.turbo
.wrangler
.output
.vinxi
__unconfig*
todos.json
package-lock.json
pnpm-lock.yaml
